<%= render :partial => "layouts/partials/leftmenu" %>
        
<zagolovok1>Корисні джерела</zagolovok1>
<hr>

1) - <a href="http://rubykoans.com/">Neo ruby koans</a><br>
2) - <a href="http://railstutorial.ru/chapters/4_0/beginning">Rails tutorial</a>;<br>
3) - <a href="http://railstutorial.ru/chapters/4_0/beginning">Rails tutorial</a>;<br>
4) - <a href="http://railstutorial.ru/chapters/4_0/beginning">Rails tutorial</a>;<br>
5) - <a href="http://railstutorial.ru/chapters/4_0/beginning">Rails tutorial</a>.<br>

