
<%= render :partial => "layouts/partials/leftmenu" %>
        
        
<zagolovok1>ДВНЗ "Ужгородський національний університет" </zagolovok1><hr>
<table  align=left width=100% text-align=left  dordercolor=black   height=40%   >
  <tr>
        <td><% logo = image_tag("uzhnu_logo2.png", :alt => "Rails_icon", :class => "feed_icon") %>
<%= link_to logo, root_path %></td>
        <td>
     	Факультет інформаційних технологій<br>
Кафедра  програмного забезпечення систем<br>
Виконав: студент 5 курсу, <br>
 Германський В. Л.       <br>
 	</td>
<td>
Керівник  к. фіз. - мат. н., доц. Дробнич О.В.<br>
<b>Email: </b>rmacciawelli@mail.ru<br>
<b>Github:</b>https://github.com/********<br>
<b>Twitter:</b>Hermanskij Laszlo<br>


</td>
    </tr>
    <tr>
    </table>
