<zagolovok1>ДВНЗ "Ужгородський національний університет" </zagolovok1>
<hr>
Факультет інформаційних технологій<br>
Кафедра  програмного забезпечення систем<br>
Виконав: студент 5 курсу, групи ПЗС<br>
напряму підготовки           <br>
6.050103  «Програмна інженерія»<br>
Германський В. Л.  <br>
Керівник  к. фіз. - мат. н., доц. Дробнич О.В.<br>
<b>Email: </b>rmacciawelli@mail.ru<br>
<b>Github:</b>https://github.com/********<br>
<b>Twitter:</b>Hermanskij Laszlo<br>
</p>