<zagolovok1><p align="center"> Основні поняття:</p></zagolovok1>
<table  align=left width=98% text-align=left  dordercolor=black   height=40%   >
  <tr>
        <td><% logo = image_tag("http://d3bro1z16yfjvi.cloudfront.net/images/ruby_icon_80.png?1349367920", :alt => "Ruby_icon", :class => "feed_icon") %>
<%= link_to logo, root_path %></td>
        <td>
     <p><b>Ruby</b> - інтерпретована, повністю об'єктно-орієнтована мова програмування зі строгою динамічною типізацією. Ruby поєднує в собі Perl-подібний синтаксис із об'єктно-орієнтованим підходом мови програмування Smalltalk.</p></td>
        
    </tr>
    <tr>
      <td><% logo = image_tag("http://d3bro1z16yfjvi.cloudfront.net/images/rails_icon_80.png?1349367920", :alt => "Rails_icon", :class => "feed_icon") %>
<%= link_to logo, root_path %></td>
        <td>

      <p><b>Ruby on Rails</b> – це середовище виконання, що полегшує розробку, впровадження та обслуговування веб-додатків. За місяці, що минули з її початкового випуску, Rails пройшла шлях від маловідомої забавною технології до феномену світового масштабу. Вона удостоїлася нагород, але, що більш важливо, стала саме тим середовищем виконання, яку стали вибирати для створення широкого кола так званих програм Веб 2.0. І це не тільки модне віяння серед витончених знавців: Rails використовується для створення веб-додатків багатьма інтернаціональними компаніями. І цьому є безліч причин.</p></td>       
    </tr>
<tr>
      <td><% logo = image_tag("http://d3bro1z16yfjvi.cloudfront.net/images/rspec_icon_80.png?1349367920", :alt => "RSpec_icon", :class => "feed_icon") %>
<%= link_to logo, root_path %></td>
        <td>

       <p><b>RSpec</b> - це інструмент для поведінково-керованої розробки (Behavior Driven Development (BDD) ). Це є щось дуже близьке до тест-керованої розробки (Test Driven Development (TDD) ) такої звичної нам всім, але з невеликою відмінністю, яка в свою чергу з ніг на голову перевертає сам підхід з ніг на голову. В поведінково-керованій розробці ми не співставляємо чи наша програма проходить тести (i.e. чи вона відповідає специфікації вираженій тестами) а співставляємо чи її поведінка ( behavior ) відповідає очікуваній, вираженій в RSpec коді. RSpec код пишеться на Рубі.</p></td>       
    </tr>



    
</table>
