<div id="banner">
      <i>RoRkoans</i><sruft> - програма розроблена для ознайомлення із фреймворком Ruby on Rails. Мета програми заключається у тому, щоб вивчити мову Ruby on Rails, синтаксис,структуру і деякі загальновживані функції і бібліотеки.
      <br>
      <hr>
      <%= link_to "Завантажити файл >>>", download_path, class: 'btn btn-primary btn-large' %><inferno>
      <%= link_to "Завантажити файл >>>", download1_path, class: 'btn btn-danger btn-large' %></inferno>
      </sruft>
</div>	